In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
ds = pd.read_csv("challenge_dataset.csv")
ds.head()

,order_id,shop_id,user_id,order_amount,total_items,payment_method,created_at
0,1,53,746,224,2,cash,2017-03-13 12:36:56
1,2,92,925,90,1,cash,2017-03-03 17:38:52
2,3,44,861,144,1,cash,2017-03-14 4:23:56
3,4,18,935,156,1,credit_card,2017-03-26 12:43:37
4,5,18,883,156,1,credit_card,2017-03-01 4:35:11

## Question 1
### 1.a

The problem as we can see below is that we are just calculating the average without taking into account eh number of itmes sold. when we take this approach it assumes each order amount in the a row is for just one item purchased.

In [34]:
# Average of order_amount column
ds['order_amount'].mean()

3145.128

### 1.b  
The find the correct value the metric to use is the total sum of the order_amount column divided by the sum of the total_items column. This can be represented below as

##  $\frac{\sum_{i=1}^n (order\_amount_i)}{\sum_{i=1}^n (total\_items_i)}$	

### 1.c  
The result for the average order value is **357.92** . We can see how I got the result with the code below.

In [35]:
round(ds['order_amount'].sum() / ds['total_items'].sum(), 2)

357.92

In [1]:
%%html
<style>
table {float:centre}
</style>

## Question 2

### 2.a How many orders were shipped by Speedy Express in total?

**Query**  
`
SELECT *
FROM (SELECT Shippers.ShipperName, Orders.ShipperID, COUNT(Orders.ShipperID)
FROM Orders
INNER JOIN Shippers
ON Orders.ShipperID=Shippers.ShipperID
GROUP BY Orders.ShipperID)
WHERE ShipperName="Speedy Express";`

**Result**  

ShipperName |ShipperID |COUNT(Orders.ShipperID)
-----|-----|----- 
Speedy Express|1|54  


### 2.b What is the last name of the employee with the most orders?

**Query**  
`SELECT LastName, MAX(CountOrders)
FROM (SELECT Orders.EmployeeID, Employees.FirstName ,Employees.LastName, COUNT(Orders.EmployeeID) AS CountOrders
      FROM Orders
      LEFT JOIN Employees
      ON Orders.EmployeeID=Employees.EmployeeID
      GROUP BY Orders.EmployeeID);`
      
**Result**  

LastName |MAX(CountOrders) 
-----|----- 
Peacock|40

### 2.c What product was ordered the most by customers in Germany?

**Query**  
``SELECT ProductName 
FROM Products
WHERE ProductID = (SELECT ProductID
                   FROM (SELECT ProductID, MAX(`SUM(Quantity)`)
                         FROM (SELECT ProductID, SUM(Quantity)
                         FROM (SELECT * FROM OrderDetails
                               WHERE OrderID in (SELECT OrderID FROM Orders
                               WHERE CustomerID in (SELECT CustomerID FROM Customers
                               WHERE Country="Germany")))
                         GROUP BY ProductID)))``
                         
**Result**  

ProductName |
-----|
Boston Crab Meat|